/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    /* FORMULAR */
    h2.titleKontakt{
        font-size: 3vw!important;
        padding: 50px 0px;
    }

    h2{
        font-size: 10vw;
        letter-spacing: 1px;


        /* font-style: sans ; */
    }
    
    h3{
        font-size: 4vw!important;

        /* font-style: sans ; */
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .col-R{
        padding-left: 70px;
    }

    .col-L{
        padding-left: 70px;
    }

    .noPadding{
        padding-left: 0!important;
    }


    h2{
        font-size: 5.1vw!important;
        letter-spacing: 1px;
    }

    h2.h2Header{
        font-size: 6.5vw!important;
    }

    h3{
        font-size: 4vw!important;

        /* font-style: sans ; */
    }
  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    h2{
        font-size: 5vw;
        text-align: left;
        color: #002D62!important;

        /* font-style: sans ; */
    }
    
    h3{
        font-size: 3vw!important;
        text-align: left;
        color: #009EE2!important;
        font-style: italic!important;
        /* font-style: sans ; */
    }
  }

  @media (min-width: 1920px) {
    .mod_article#home-header .box{
        width: 25%;
    }
    .mod_article#home-header .triangle{
        left: 25%;
    }
  }

  @media (max-width: 575.98px) { 

    .layout-corner {
        left: 30%!important;
        z-index: 999999999999;
    }
    .mod_logo {
        width: 70%!important;
        z-index: 999999999999;

    }

    .mod_logo span {
        display: none!important;
    }


    .btn-sigert{
        width: 90%!important;
    }

    h2.titleKontakt {
        font-size: 8vw !important;
        padding: 35px 35px 0px 50px;
        margin-left: 0!important;
    }

    input[type=checkbox] {
        -ms-transform: scale(1)!important;
        -webkit-transform: scale(1)!important;
        transform: scale(1)!important;
    }

  }

  @media (max-width: 575.98px) and (min-height: 376px) {

    #headerWriter{
        margin-bottom: 120px;
    }

    .fussball {
        top: -10vh!important;
    }

    .mod_article#home-header {
        height: auto!important;
        min-height: 30vh!important;
    }

    .contentSigert.header{
        min-height: 1vh!important;
        height: 29vh!important;
    }

  } 



/* MAX WIDTH */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .mod_article#home-header {
        background-size: contain;
        background-position-x: 0!important;
    }

    .datenschutz{
        font-size: 10px;
    }

    .mod_article#home-premium .contentSigert {
        padding-right: 0px!important;
    }   

    .submitDiv{
        margin-top: 20px;
    }

    .mod_article#home-header .triangle{
        display: none!important;
    }

    .ecke-R, .ecke-L {
        height: 100px;
        width: 20%;
        position: relative!important;
    }

    .btn-sigert{
        width: 90%;
    }

        .mod_article#home-premium .ecke-R {
        right: 1px;
        /* right: 28px!important; */
    }

    .mod_article#home-premium .ecke-L {
        left: 1px!important;
            /* left: 28px!important; */
    }
    .mod_article#home-premium .btn-sigert{
        width: 85%!important;
    }

    .mod_article#home-formular{
        height: 100%!important;
    }

    .mod_article.section{
        height: 100%!important;
    }

    .mod_article#home-premium .footerContent {
        position: relative;
        margin-bottom: 0px!important;
        margin-top: 60px;
    }

    .fp-tableCell {
        position: relative!important;
    }

    .footerBox {
        max-width: 100%!important;
        width: 100%;
        -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }

    .footerBox img {
        max-width: 40%!important;
        width: 100%;
        margin-top: 30px;

    }

    .pr-120{
        padding: 20px!important;
    }

    .mod_article.section .border{
        position: relative!important;

    }

    /* .handyBlock{
        display: block!important;
    } */

    .mod_article.section {

        height: 100vh!important;

    }

    .scroll{
        overflow-y: scroll;
    }

    .inside{
        display: block!important;
        font-size: 13px;
    }

    .col-L, .col-R {
        width: 100%;
    }

    .footerBox{
        width: 100%;
        
    }

    .footerContent{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        overflow-y: scroll;
    }
    
    /* SECTION 2 */


    .mod_article#home-premium .inside {
        margin-left: 0%;
        margin-right: 0px;
        margin-left: 0px;
    }
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .separateLine{
        border: none;
    }
    
    h2{
        font-size: 8.3vw!important;
        letter-spacing: 1px;
    }

    h3{
        font-size: 7vw;
    }

    h3.h3Header{
        font-size: 2.5em!important;
        letter-spacing: 4px!important;
    }

    .ecke-R, .ecke-L {
        height: 100px;
        margin-left: 9px!important;
        display: none!important;
    }

    .btn-submitSigert {
        font-size: 2.3em!important;
  
    };

    .mod_article#home-premium .contentSigert {
        padding-right: 0px!important;
    }

    .btn-container.submitDiv .ecke-L, .btn-container.submitDiv .ecke-R {
        display: none!important;
    }

    .btn-sigert {
        height: 100px;
        font-size: 1em;
        width: 100%!important;
    }

    .btn-submitSigert {
        width: 100%!important;
    }
}


@media (max-width: 350px)  and (max-height:1023.98px) {

    .contentSigert.header{
        min-height: 25vh!important;
    }
    
}


@media (min-width: 351px) and (max-width: 500px)  and (max-height:1023.98px) {

    .content{
        padding: 20px;
    }

    .contentSigert.header{
        min-height: 40vh!important;
    }

    #home-premium{
        margin-top: -70px;
    }

    #headerWriter{
        margin-bottom: 120px;
    }
    
}

@media (min-width: 501px) and (max-width: 800px)  and (max-height:1023.98px) {

    .mod_article#home-header {
       
        background-color: #fff!important;
    }

    #home-header{
        min-height: 0px!important;
    }
    
    .contentSigert.header{
        min-height: 50vh!important;
    }

    .fussball{
        top: -19vh;
        max-width: 40vw!important;
    }

    #headerWriter{
        position: relative;
        top: 5vh;
    }

    .contentSigert.header {

        -webkit-box-align: start!important;

            -ms-flex-align: start!important;

                align-items: start!important;
    }

    h2{
        font-size: 8vw;
    }

    h3{
        font-size: 6vw;
    }
}

@media (min-width: 551px) and (max-width: 800px)  and (min-height: 300px) and (max-height:703.98px) {

    .content{
        padding: 20px;
    }

    .contentSigert.header,   .mod_article#home-header {
        min-height: 100vh!important;
    }

    #home-premium{
        margin-top: -70px;
    }

    #headerWriter{
        margin-bottom: 120px;
    }
    
}

@media (min-width: 501px) and (max-width: 590px) and (min-height: 300px) and  (max-height: 350px){
    .contentSigert.header {
        min-height: 100vh!important;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

    .claim{
        display: none!important;
    }

    /* .d-lg-none{
        display: block!important;
    }

    .d-lg-block{
        display: none!important;
    } */
    .mod_article#home-header{

        background-image: url(../images/layout/Header_EM_Planer_2021.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff!important;
    }

    .triangle,.box{
        display: none;
    }

    .inside{
        display: block!important;
    }

    .col-L, .col-R {
        width: 100%!important;
    }

    .handyOFF{
        display: none!important;
    }
    .handyON{
        display: block!important;
    }


    .mod_article.section .border{
        position: relative!important;

    }

    .mod_article#home-formular{
        height: 100%!important;
    }

    .mod_article.section{
        height: 100%!important;
    }


    .mod_article#home-premium .contentSigert {
        margin-left: 0;
        padding: 10px;
        padding-right: 50px;

    }

    .footerContent{
        position: absolute!important;
    }
    


    .mod_article#home-formular .inside {
        padding-bottom: 60px;
    }

    /* ### FORMULAR ### */

 }

 @media (min-width: 750px) and (min-height: 1000px) and (max-width: 850px) and (max-height: 1290px) {
     #headerWriter{
         margin-bottom: 310px!important;
         top:0vh;
     }
 }


 @media (max-width: 850px) and (max-height: 400px) {
    .mod_article#home-header{

        background-size: contain!important;
        background-position-x: 0px!important;
        min-height: 50vh!important;
    }

    .fussball {
        max-width: 35vw!important;
        top: -48vh!important;
    }
}

@media (min-width: 500px) and (min-height: 500px) and (max-width: 1024px) and (max-height: 770px) {
    .mod_article#home-header {
        background-size: cover;
        background-position-x: -160px!important;
    }

    #headerWriter{
        /* margin-bottom: 608px!important; */
        font-size: 7vw!important;
    }
}

@media (min-width: 800px) and (min-height: 600px) and (max-width: 1025px) and (max-height: 770px) {
    .mod_article#home-header {
        background-position-x: -220px!important;
    }

    .contentSigert.header{
        -webkit-box-align: start!important;
            -ms-flex-align: start!important;
                align-items: start!important;
    }
}

 @media (max-width: 1024px) and (max-height: 770px) {
/* 
    #headerWriter{
        font-size: 7vw!important;
    } */

    .triangle, .box{
        display: none;
    }

    .mod_article#home-header {
        /* background-size: cover; */
        background-position-x: -265px;
    }

    .col-lg-4{
        max-width: 100%;
    }

    .btnHoch{
        display: none!important;
    }

    .btnLang, .btnLang span{
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }
    .btnLang button{
        display: block!important;
    }
    .handyOFF{
        display: none!important;
    }
    .handyON{
        display: block!important;
    }

    .inside{
        display: block!important;
    }

    .col-L, .col-R {
        width: 100%!important;
    }

    .fussball{
        /* top: -25vh!important; */
        max-width: 39vw!important;
    }


    .mod_article.section .border{
        position: relative!important;

    }

    .mod_article#home-formular{
        height: 100%!important;
    }

    .mod_article.section{
        height: 100%!important;
    }

    .mod_article#home-premium .contentSigert {
        margin-left: 0;
        padding: 10px;
        padding-right: 50px;

    }

    .footerContent{
        position: relative!important;
    }


    .mod_article#home-formular .inside {
        padding-bottom: 60px;
    }

 } 



/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  

}


@media (max-width: 1500px) { 

    p{
        font-size: 1.2em;
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }
    
    h2{
        text-align: left;
        color: #002D62!important;

        /* font-style: sans ; */
    }
    
    h3{
        text-align: left;
        color: #009EE2!important;
        font-style: italic!important;
        /* font-style: sans ; */
    }

    .mod_article.section#home-premium{
        height: 100%!important;
    }

    .mod_article#home-formular{
        height: 100%!important;
    }

    .mod_article.section{
        height: 100%!important;
    }


    .btn-sigert {
        height: 100px;
        font-size: 30px;
		width: 55%;
    }
	
	.ecke-R, .ecke-L {
		
		height: 100px;
		margin-left: -11px;
		margin-right: -11px;
		
}

    .btn-submitSigert{
        font-size: 35px;
    }
	
	    .mod_article#home-premium .footerContent {
        position: relative;
        margin-bottom: 20px;
        margin-top: 60px;
    }

}

@media (max-width: 850px) and ( min-height: 1000px ){
    .contentSigert.header {
        min-height: 50vh!important;
    }

}

/* IPAD and LAPTOP */

@media (max-width: 1700px) and ( min-height: 1000px ){


.header h2 {
    /* margin-bottom: 310px; */
}

    .contentSigert.header {
        min-height: 100vh;
    }

    .fussball {
        top: -24vh;
    }

    .mod_article#home-header {
        min-height: 50vh;
    }
    
    .mod_article#home-premium .footerContent {
        position: relative!important;
        margin-top: 60px;
    }

    .mod_article.section#home-premium{
        /* height: 100vh!important; */
        /* height: 82vh!important; */
        min-height: 85vh!important;
    }

    .btn-sigert {
        width: 70%!important;
    }
}

@media (min-width: 1000px) and ( min-height: 1000px ) and (max-width: 1200px) and ( max-height: 1400px ) {
    .contentSigert.header {
        min-height: 50vh!important;
    }
}



@media (min-width:580px) and (max-height: 999px) {
    .mod_article.section#home-premium{
        height: 100%!important;
    }

    h2.h2Header,h3.h3Header{
        text-align: right;
    }

    .mod_article#home-formular{
        height: 100%!important;
    }

    .mod_article.section{
        height: 100%!important;
    }

    .mod_article#home-premium .footerContent {
        position: relative!important;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    .btn-sigert {
        /* width: 100%!important; */
        font-size: 1.5em;
        margin-bottom: 30px;
    }

}

@media (max-height: 999px) and (min-width: 1200px) {

    .btn-sigert {
        width: 70%!important;
        font-size: 2em;
        margin-bottom: 30px;
    }

}

@media (min-width: 1700px) {

    .mod_article#home-header{
        background-position-x: 100px!important;
    }

}

@media (min-width: 1850px) and ( min-height: 800px ) and (max-width: 2000px) {
    .mod_article#home-header {

        background-position-y: -130px!important;
    }
}

@media (min-width: 2000px) {

    .mod_article#home-header{
        background-position-x: 100px;
    }

    .mod_article#home-formular .inside{
        min-height: calc(100vh - 330px);
        font-size: 1.7em;
    }

    .mod_article#home-formular input, .mod_article#home-formular select{
        height: 50px!important;

    }

    .mod_article#home-formular textarea{
        height: 300px!important;

    }

    .mod_article#home-formular .form-check-label{
        line-height: 40px;
        text-align: justify;

    }

    .form-group{
        margin-bottom: 1.3em!important;
    }

    .submitDiv{
        margin-top: 70px!important;
    }


    .datenschutz{
        font-size: 1.5em;
    }
}

@media (min-width: 2500px) {
    p{
        font-size: 2.7em;
    }

    h3.h3Header{
        font-size: 6.5em!important;
    }

    .btn-container{
        margin-top: 30px;
    }

    .btn-submitSigert{
        font-size: 2em;
    }
}


@media (min-width: 1000px) and (min-height: 750px) and (max-width: 1100px) and (max-height: 800px) {
    h2.h2Header, h3.h3Header{
        text-align: right;
    }

    .box, .triangle{
        display: none;
    }
}

@media (min-width: 350px) and (min-height: 350px) and (max-width: 850px) and (max-height: 850px) {
    h2.h2Header, h3.h3Header{
        text-align: right;
    }

    .box{
        display: none;
    }

    .footerContent{
        position: relative!important;
    }
}
